body {
    background-color: #232529 !important;
    color: rgb(115, 246, 110) !important;
    font-family: Arial, Helvetica, sans-serif;
}
.dark-mode {
    background-color: #dde8ff !important;
    color: rgb(14, 31, 14) !important;
}
    
.slotsheader {
    font-size: x-large;
    margin-top: -15px;
    margin-bottom: -15px;   
    text-shadow: 0px 0px 1px #002d64, 0 0 0 #000, 0px 0px 13px #def;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    max-height:300px; 
    max-width: 400px; 
    margin-top: 12px; 
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width:590px) 
{ 
    .logo{
        max-height: 100px; 
        margin-left: auto;
        margin-right: auto;
    }
    
}

.theme_button{
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: #002047;
    color: #dde8ff; 
    border-style: solid;
    border-color: black;

}

.list {
    font-size: 175%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightskyblue;
    padding-left: 6%;
}

.listitem {
    max-width: 50px;
    max-height: 50px;
    display: inline;
    text-align: center;
}

.flavortext {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.homepic {
    display: flex;
    flex-direction: column;
    width: 275px;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}
@media screen and (max-width:590px) 
{ 
    .homepic{
        display: flex;
        flex-direction: column;    
        width: 175px;
        height: 175px;
    }
}

.slotslink {
    padding-top: 18px;
    font-size: xx-large;
    font-style: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow;
    text-align: center;
    text-shadow: 0px 0px 1px #002d64, 0 0 0 #000, 0px 0px 13px #def;
}

.banner{
    display: flex;
    flex-direction: row;
    background-color: #004daa;
    flex: 1;
}
@media screen and (max-width:590px) 
{
    .banner{
        display: none;
        flex-direction: column;
        background-color: #004daa;
        flex: 1;
    }
}

.banner_item{
    margin: 8px;
    color: white;
    border-style: solid;
    border-color: white;
    padding: 5px;
    background-color: #002d64;
    text-align: center;
    flex: 1;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}  
@media screen and (max-width:590px)
{
    .banner_item{
        margin-bottom: 3px;
        margin-top: 3px;
    }  
}
.banner_item:hover{
    background-color: #002047;

}

.score{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-style: bold;
    font-size: x-large;
}

.slotsmain{
    display: flex;
    align-content: center;
    background: #004daa !important;
    width: 462px;
    font-size: 100px;
    border-style: solid;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.slot{
    margin: 4px;
    color: orange;
    text-align: center;
    background: rgb(61, 45, 66);
    padding: 20px;
    border-color: white;
    border-style: solid;
    width: 100px;
    height: 100px;

}

.button_container {
    display: flex;
    flex-direction: column;
}

.button{
    color: red !important;
    background-color: #002d64;
    text-align: center;
    font-size: 50px !important;
    border: solid;
    width: 175px;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 0%;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.button:hover{
    background-color: #002047;
    text-decoration: underline;
}

.about_text{
    font-size: larger;
    font-style: bold;
}

.total_score{
    margin-left: 4%;
    text-decoration: underline;
    font-size: large;
}

.share{
    position: relative;
    bottom: 12px;
    font-size: medium;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.sharebox{
    background-color: #004daa;
    color: #dde8ff;
    font-style: italic;
    width: fit-content;
    height: 100%;
    margin-left: 8%;
    margin-right: 8%;
    padding: 20px;
}

.mobilebutton{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    position: absolute;
    top: 68px;
    right: 8px;
    background-color: #002047;
    color: #dde8ff; 
    border-style: solid;
    border-color: black;
    display: none;
    max-width: 30px;
    max-height: 30px;
    border-color: black;
}
@media screen and (max-width:590px){
    .mobilebutton{
        display: initial;
    }
}

.wheel{
    display: flex;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    max-width: 100%;
}

.roulettescore{
    position: absolute;
    top: 50%;
    left: 40%;
    margin-left: auto;
    margin-right: auto;
    font-size: xx-large;
    font-style: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow;
    text-align: center;
    text-shadow: 0px 0px 1px #002d64, 0 0 0 #000, 0px 0px 13px #def;
}
